        /**/
        #idinpt
        {
            margin-left:;
            margin-bottom: 5px;
        }
        #pwinpt
        {
            margin-left:;
        }
        #enter
        {
            margin-left: 210px;
            margin-top: -50px;
            height: 50px;
            width: 70px;
        }
        #register
        {
            margin-top: -10px;
            margin-left:;
        }
        #page
        {
            margin-top: 200px;
            margin-left: 200px;
        }